<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> header}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- lift side div  -->
                    <div class="col-md-6 col-12 align-items-center main_header_right about">
                        <figure>
                            <img src="Images/a1.png" alt="" class="img-fluid">
                        </figure>

                    </div>

                    <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hello, Nil here</p>
                        <h1>I am a <span class="text_color">MERN stack developer</span> and your digital partner</h1>
                        <a href="https://www.linkedin.com/in/nil-meruliya-508680202/" target="_blank"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer}}

</body>

</html>