
     <div class="container-fluid main_menu">
        <div class="row">
            <!-- we get 12 grid(column), but want to lest 1 grid from each side so we gonna use 10 for medium devices, 12 for mobile, mx-auto means center -->
            <div class="col-md-10 col-12 mx-auto">

                <nav class="navbar navbar-expand-lg ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="/weather">	
                        <i class="fas fa-snowflake"></i> Weather <i class="fas fa-snowflake"></i></a>
                  
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

                        <!-- ml-auto, because we want all content, right side  -->
                      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" href="/weather">Weather</a>
                        </li>     
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                          </li>   
                      </ul>
                    
                    </div>
                  </nav>
            </div>
        </div>
     </div>

 




